<form 
  hx-post="{% url 'scheduler:event_delete' wedding_id object.id %}"
  hx-target="#form-modal-container"
  hx-swap="innerHTML"
>
  {% csrf_token %}

  <div class="modal-header">
    <h5 class="modal-title text-danger">
      Confirmar Exclusão
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
  </div>

  <div class="modal-body">
    <p>Tem certeza que deseja excluir o evento <strong>{{ object.title }}</strong>?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-danger">Excluir</button>
  </div>
</form>
