line-length = 88
target-version = "py312"

exclude = [
    ".git",
    "__pycache__",
    "migrations",
    "static",
    "media",
    "venv",
    ".venv",
    "node_modules",
]

[lint]
select = ["E", "F", "W", "I", "B", "RUF", "UP", "DJ"]
ignore = ["E203"]

[lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]
"settings.py" = ["F401", "F403"]