{% load static %}

<nav class="header navbar navbar-expand-lg bg-body-tertiary sticky-top shadow-sm">
  <div class="container">
    <a href="{% url 'pages:home' %}"><img src="{% static 'img/logo.png' %}" alt="Logo" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
        <li class="nav-item mx-3"><a class="nav-link" href="#about">Sobre</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#benefits">Beneficios</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#features">Recursos</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#pricing">Planos</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#contact">Fale Conosco</a></li>
      </ul>

      <a href="{% url 'users:sign_up' %}" class="btn btn-register">
        Cadastre-se agora
      </a>

      <a href="{% url 'users:sign_in' %}" class="btn btn-login">
        Entrar
      </a>

    </div>
  </div>
</nav>