<ul class="nav nav-pills flex-column mb-auto pt-2">
  <li class="nav-item">
    <a href="#" class="nav-link text-dark" aria-current="page">
      <i class="bi bi-house-door me-2 fs-5"></i>
      <span class="sidebar-text">Dashboard</span>
    </a>
  </li>
  <li>
    <a href="#" class="nav-link text-dark">
      <i class="bi bi-calendar-check me-2 fs-5"></i>
      <span class="sidebar-text">Calendário</span>
    </a>
  </li>
  <li>
    <a href="#" class="nav-link text-dark">
      <i class="bi bi-file-earmark-text me-2 fs-5"></i>
      <span class="sidebar-text">Contratos</span>
    </a>
  </li>
  <li>
    <a href="#" class="nav-link text-dark">
      <i class="bi bi-box-seam me-2 fs-5"></i>
      <span class="sidebar-text">Itens</span>
    </a>
  </li>
  <li>
    <a href="#" class="nav-link text-dark">
      <i class="bi bi-cash-coin me-2 fs-5"></i>
      <span class="sidebar-text">Orçamento</span>
    </a>
  </li>
</ul>