{% load static %}

{% comment %} Mensagem de impacto {% endcomment %}

<section id="hero">
  <div class="slider-wrapper">
    <div class="slide slide1"></div>
    <div class="slide slide2"></div>
    <div class="slide slide3"></div>
  </div>

  <div class="container">
    <h1 class="display-3 fw-bold">Onde casamentos perfeitos começam.</h1>
    <p class="lead">
      Para noivos, o lugar ideal para encontrar o cerimonialista perfeito.<br />
      Para cerimonialistas, a ferramenta completa para gerenciar cada detalhe.
    </p>
    <div class="d-flex flex-wrap justify-content-center gap-3 mt-4">
      <button class="btn btn-lg px-5 py-2 btn-role" >
        Veja como funciona
      </button>
    </div>
  </div>
</section>
