<div id="items-wrapper" class="bg-white p-4 rounded-4 aba-bloco custom-shadow-lg">
    <div class="d-flex justify-content-between align-items-center mb-4">
      
      <div>
        <h3 class="fs-4 fw-bold text-dark mb-0">Lista de Itens do Casamento</h3>
      </div>
      
      <div class="d-flex align-items-center gap-2 flex-shrink-0">
        {% include "items/partials/_item_filter.html" %}
        
        <a href="#" 
           class="btn btn-primary d-flex align-items-center"
           hx-get="{% url 'items:add_item' wedding.id %}"
           hx-target="#items-wrapper"
           hx-swap="outerHTML">
           <i class="fas fa-plus me-2"></i> Adicionar Item
        </a>
      </div>
  </div>

  <div class="mb-3">
    {% include "items/partials/_item_search.html" %}
  </div>

  <div id="item-list-container">
    {% include "items/partials/_item_list_content.html" %}
  </div>

  <div id="pagination-container" class="d-flex justify-content-center mt-4">
    {% include "items/partials/_pagination.html" %}
  </div>
  
</div>