<div class="bg-white p-4 rounded shadow-lg-tailwind aba-bloco">
    <h5 class="fw-bold mb-3 text-purple">Itens do Casamento</h5>
  
    {% if itens %}
      <ul class="list-group mb-3">
        {% for item in itens %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ item.nome }} - Quantidade: {{ item.quantidade }} - Valor: R$ {{ item.valor|floatformat:2 }}
            <a href="#" class="btn btn-sm btn-outline-secondary">Editar</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-muted">Nenhum item cadastrado ainda.</p>
    {% endif %}
  
    <a href="{% url 'items:add_item' wedding.id %}" class="btn btn-outline-primary">+ Adicionar Item</a>
  </div>
  