<div id="items-wrapper" class="bg-white p-4 rounded-4 aba-bloco custom-shadow-lg">
  <div class="d-flex justify-content-between align-items-center mb-4">
      <h3 class="fs-4 fw-bold text-dark mb-0">Lista de Itens do Casamento</h3>
      
      <a href="#" 
         class="btn btn-primary d-flex align-items-center"
         hx-get="{% url 'items:add_item' wedding.id %}"
         hx-target="#items-wrapper"
         hx-swap="outerHTML">
         <i class="fas fa-plus me-2"></i> Adicionar Item
      </a>
  </div>

  {% if items %}
    <div class="row gy-4">
        {% for item in items %}
          {% include "items/partials/_item_card.html" with item=item %}
        {% endfor %}
    </div>
  {% else %}
    <p class="text-muted">Nenhum item cadastrado ainda.</p>
  {% endif %}
</div>