{% comment %}
  Este partial desenha os botões da paginação.
{% endcomment %}

{% if page_obj.has_other_pages %}
<nav aria-label="Paginação de Casamentos">
  <ul class="pagination">

    {% comment %} Botão 'Anterior' {% endcomment %}
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      <a class="page-link" href="#"
         {% if page_obj.has_previous %}
           hx-get="{% url 'weddings:my_weddings' %}?page={{ page_obj.previous_page_number }}&sort={{ current_sort }}&q={{ current_search }}"
           hx-target="#wedding-list-container"
           hx-swap="innerHTML"
         {% endif %}
         >
        Anterior
      </a>
    </li>

    {% comment %} Números das Páginas {% endcomment %}
    {% for page_num in elided_page_range %}

      {% comment %} 
        Se o 'page_num' for uma elipse (...), 
        mostre-o como um item desabilitado.
      {% endcomment %}
      {% if page_num == page_obj.paginator.ELLIPSIS %}
        <li class="page-item disabled">
          <span class="page-link">{{ page_num }}</span>
        </li>

      {% comment %} 
        Caso contrário, é um número de página normal.
      {% endcomment %}
      {% else %}
        <li class="page-item {% if page_num == page_obj.number %}active{% endif %}">
          <a class="page-link" href="#"
             hx-get="{% url 'weddings:my_weddings' %}?page={{ page_num }}&sort={{ current_sort }}&q={{ current_search }}"
             hx-target="#wedding-list-container"
             hx-swap="innerHTML">
            {{ page_num }}
          </a>
        </li>
      {% endif %}

    {% endfor %}

    {% comment %} Botão 'Próxima' {% endcomment %}
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      <a class="page-link" href="#"
         {% if page_obj.has_next %}
           hx-get="{% url 'weddings:my_weddings' %}?page={{ page_obj.next_page_number }}&sort={{ current_sort }}&q={{ current_search }}"
           hx-target="#wedding-list-container"
           hx-swap="innerHTML"
         {% endif %}
         >
        Próxima
      </a>
    </li>
    
  </ul>
</nav>
{% endif %}
