{% for item in paginated_weddings %}
  <div class="col" id="wedding-card-{{ item.wedding.id }}">
    {% include 'weddings/partials/_wedding_card.html' with item=item %}
  </div>
{% empty %}
  <div class="col-lg-12">
    <div class="alert alert-purple text-center">
      {% if request.GET.q %}
        Nenhum casamento encontrado para a busca "<strong>{{ request.GET.q }}</strong>".
      {% else %}
        Você ainda não cadastrou nenhum casamento. 
        
        <a href="#" 
           class="fw-semibold"
           hx-get="{% url 'weddings:create_wedding' %}"  
           hx-target="#form-modal-container"
           data-bs-toggle="modal"
           data-bs-target="#form-modal">
           Clique aqui para adicionar
        </a>.
      {% endif %}
    </div>
  </div>
{% endfor %}