{% load static %}



<section id="features" class="py-5 reveal">
  <div class="container">
    
    <div class="row align-items-center mb-5 pb-4 gy-4 img-right">
      <div class="col-lg-6 pe-lg-5"> 
        <h3 class="feature-main-title">Ferramentas de Alta Performance</h3>
        <p class="feature-main-desc">
          Além dos módulos essenciais, entregamos recursos técnicos projetados para elevar o nível profissional da sua assessoria e modernizar seus processos.
        </p>
        
        <div class="feature-grid">
            <div class="feature-box">
                <div class="icon-box-small"><i class="fa-solid fa-signature"></i></div>
                <h4 class="box-title">Assinatura Digital</h4>
                <p class="box-desc">Elimine a papelada. Envie contratos e recolha assinaturas de clientes de forma 100% online.</p>
            </div>

            <div class="feature-box">
                <div class="icon-box-small"><i class="fa-solid fa-layer-group"></i></div>
                <h4 class="box-title">Gestão Multi-Eventos</h4>
                <p class="box-desc">Gerencie diversos casamentos simultaneamente em uma única conta, mantendo os dados de cada casal separados e organizados.</p>
            </div>

            <div class="feature-box">
                <div class="icon-box-small"><i class="fa-solid fa-magnifying-glass"></i></div>
                <h4 class="box-title">Busca Inteligente</h4>
                <p class="box-desc">Encontre rapidamente qualquer contrato, item ou data específica sem perder tempo navegando por menus.</p>
            </div>

            <div class="feature-box">
                <div class="icon-box-small"><i class="fa-solid fa-lock"></i></div>
                <h4 class="box-title">Segurança de Dados</h4>
                <p class="box-desc">Suas informações e documentos são protegidos com criptografia e controle de acesso rigoroso.</p>
            </div>
        </div>
      </div>
      
      <div class="col-lg-6">
        <div class="feature-img-container">
            <img src="{% static 'pages/img/img_notebook.JPG' %}" alt="Funcionalidades do Sistema" class="feature-img">
        </div>
      </div>
    </div>

    <div class="my-5"></div> 
  </div>
</section>