{% load static %}

{% comment %} Hero Section {% endcomment %}

<section id="hero">
  <div class="slider-wrapper">
    <div class="slide slide1"></div>
    <div class="slide slide2"></div>
    <div class="slide slide3"></div>
  </div>

  <div class="container text-center text-white">
    <h1 class="display-3 fw-bold">Onde casamentos perfeitos começam.</h1>
    <p class="lead">
      A plataforma completa para cerimonialistas que desejam organizar, 
      planejar e gerenciar casamentos com eficiência e excelência.
    </p>
    <a href="#benefits" class="btn btn-lg px-5 py-2 btn-role">
      Veja como funciona
    </a>
  </div>
</section>
