{% extends 'base-apps.html' %}
{% load static %}
{% block page_title %} Meus Casamentos {% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="{% static 'weddings/css/list.css' %}">
{% endblock page_styles %}

{% block content %}
<div class="container py-3">
  
  <div class="d-flex justify-content-between align-items-center mb-2">
    {% comment %} Lado esquerdo: Título {% endcomment %}
    <div>
      <h2 class="display-6 fw-bold text-dark">Meus Casamentos</h2>
      <p class="text-muted fs-5">Gerencie todos os detalhes dos seus eventos</p>
    </div>

    {% comment %} Lado direito: Wrapper para os botões {% endcomment %}
    <div class="d-flex align-items-center gap-2">

      {% comment %} Botão dropdown de filtragem {% endcomment %}
      {% include "weddings/partials/_wedding_filter.html" %}

      {% comment %} Botão Novo Casamento (vai para o modal de formulário) {% endcomment %}
      <button class="btn btn-primary"
            hx-get="{% url 'weddings:create_wedding' %}"  
            hx-target="#form-modal-container"
            data-bs-toggle="modal"
            data-bs-target="#form-modal">
        <i class="fas fa-plus me-1"></i> Novo Casamento
      </button>
      
    </div>
  </div>

  {% include "weddings/partials/_wedding_search.html" %}

  {% comment %} 
    Este container é o ALVO do hx-target do filtro. 
  {% endcomment %}
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-5" id="wedding-list-container">
    {% include "weddings/partials/_wedding_list_content.html" %}
  </div>

  <div id="pagination-container" class="d-flex justify-content-center mt-4">
    {% include "weddings/partials/_pagination.html" %}
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'weddings/js/clickable_cards.js' %}"></script>
{% endblock %}
