{% extends 'base-apps.html' %}
{% load static %}
{% block page_title %} Meus Casamentos {% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="{% static 'weddings/css/list.css' %}">
{% endblock page_styles %}

{% block content %}
<div class="container py-3">
  
  <div class="row align-items-center mb-2">
    {% comment %} Lado esquerdo: Título {% endcomment %}
    <div class="col-12 col-lg-4 mb-2 mb-md-0">
      <h2 class="display-6 fw-bold text-dark">Meus Casamentos</h2>
    </div>

    {% comment %} Barra de busca centralizada {% endcomment %}
    <div class="col-12 col-lg-4 mb-2 mb-md-0">
      {% include "weddings/partials/_wedding_search.html" %}
    </div>

    {% comment %} Lado direito: Wrapper para os botões {% endcomment %}
    <div class="col-12 col-lg-4 d-flex justify-content-end gap-2">
      {% comment %} Botão dropdown de filtragem {% endcomment %}
      {% include "weddings/partials/_wedding_filter.html" %}

      {% comment %} Botão Novo Casamento {% endcomment %}
      <button class="btn btn-primary"
            hx-get="{% url 'weddings:create_wedding' %}"  
            hx-target="#form-modal-container"
            data-bs-toggle="modal"
            data-bs-target="#form-modal">
        <i class="fas fa-plus me-1"></i> Novo Casamento
      </button>
    </div>
  </div>

  {% comment %} 
    Este container é o ALVO do hx-target do filtro. 
  {% endcomment %}
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-0 mb-5" id="wedding-list-container">
    {% include "weddings/partials/_wedding_list_content.html" %}
  </div>

  <div id="pagination-container" class="d-flex justify-content-center mt-4">
    {% include "partials/_pagination_htmx.html" with page_obj=page_obj elided_page_range=elided_page_range pagination_url_name=pagination_url_name pagination_target=pagination_target pagination_aria_label=pagination_aria_label current_sort=current_sort current_search=current_search current_status=current_status %}
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'weddings/js/clickable_cards.js' %}"></script>
{% endblock %}
