{% extends "_base.html" %}
{% load static %}


{% block title %}{% block page_title %}{% endblock %} | {{ block.super }}{% endblock %}


{% block styles %}
  <link rel="stylesheet" href="{% static 'css/base-apps.css' %}">
  {% block page_styles %} {% endblock page_styles %}
{% endblock styles %}

{% block body_class %}apps-layout{% endblock body_class %}

{% block body_content %}

  {% include 'partials/apps-header.html' %}

  <main class="{% block main_class %} {% endblock main_class %}">
    {% include "partials/messages.html" %}
    {% block content %} {% endblock content %}
  </main>

  <div class="modal fade" id="main-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="modal-container">
      </div>
    </div>
  </div>

  {% block scripts %}
    {{ block.super }}  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  {% endblock scripts %}

  {% block extra_js %} 
  {% endblock %}
{% endblock body_content %}
