<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include "partials/public/head.html" %}
    {% block extra_head%} {% endblock %}
    <title> Sim, Aceito! | {% block title %} {% endblock title %}</title>
</head>

<body>

    <!-- Inclui o Cabeçalho -->
    {% include 'partials/public/header.html' %}

    <main class="{% block main_class %} {% endblock %}">
        {% block content %} {% endblock %}
    </main>

    <!-- Inclui o Rodapé -->
    {% include 'partials/public/footer.html' %}

    <!-- Bootstrap JS Bundle (inclui Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- Nosso JS Personalizado -->
    {% comment %}
    <script src="{% static 'js/auth.js' %}"></script> {% endcomment %}
</body>

</html>