{% extends "_base.html" %}
{% load static %}


{% block title %}{{ block.super }} | {% block page_title %} {% endblock page_title %}{% endblock title %}


{% block styles %}
  <link rel="stylesheet" href="{% static 'css/base-auth.css' %}">

  {% block page_styles %} {% endblock page_styles %}
{% endblock styles %}


{% block body_content %}

  {% include 'partials/auth-header.html' %}

  <main>
    {% block content %} {% endblock content %}
  </main>

  {% include 'partials/footer.html' %}

{% endblock body_content %}
