/* CLASSE GERAL DE PÁGINA DE DETALHE */
.wedding-detail-class {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ESPECÍFICAS DA PÁGINA DE DETALHES */

/* Partial: orçamento */
.custom-budget-bg {
  background-color: rgb(243 229 245 / var(--tw-bg-opacity, 1));
}

.total-budget-text {
  color: rgb(156 39 176 / var(--tw-text-opacity, 1));
}

.current-budget-text {
  color: rgb(123 31 162 / var(--tw-text-opacity, 1));
}

/* Partial: contratos */
.thead-custom-color th {
  color: rgb(107, 114, 128);
}

/* Partial: itens com descrição rolável */
.card-description-scroll {
  max-height: 150px;
  overflow-y: auto;
  word-break: break-word;
}