.wedding-detail-class {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --bs-primary: #9C27B0;
  --bs-secondary: #7B1FA2;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-secondary);
  --bs-btn-hover-border-color: var(--bs-secondary);
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
}

.bg-gradient-primary {
  background: linear-gradient(to right, var(--bs-primary), var(--bs-secondary)) !important;
}

a {
  color: rgb(156,39,176);
}

.custom-shadow-lg {
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.card {
  border: none;
}

.abas-casamento {
  border-bottom: 1px solid #e5e7eb;
}

.abas-casamento .nav-link {
  color: rgb(75, 85, 99);
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out; 
}

.abas-casamento .nav-link:hover {
  color: rgb(156, 39, 176);
  border-bottom-color: rgb(156, 39, 176);
}

.abas-casamento .nav-link.active {
  color: rgb(156, 39, 176);
  border-bottom-color: rgb(156, 39, 176);
  font-weight: 500;
}


/* partial budget */

.custom-budget-bg {
  background-color: rgb(243 229 245 / var(--tw-bg-opacity, 1));
}

.total-budget-text {
  color: rgb(156 39 176 / var(--tw-text-opacity, 1));
}

.current-budget-text {
  color: rgb(123 31 162 / var(--tw-text-opacity, 1));
}


/* partial contracts */

.thead-custom-color th {
  color: rgb(107, 114, 128);
}
