<div class="dropdown">
    {% comment %} O botão (os 3 pontos) que abre o menu {% endcomment %}
    <button class="btn btn-link text-muted p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="line-height: 1;">
        <i class="fas fa-ellipsis-v"></i>
    </button>
    
    <ul class="dropdown-menu dropdown-menu-end">
        <li><h6 class="dropdown-header">Ações do Item</h6></li>
        
        <li><a class="dropdown-item" href="#"
            hx-get="{% url 'items:edit_item' item.pk %}"
            hx-target="#form-modal-container"
            data-bs-toggle="modal"
            data-bs-target="#form-modal"
        >
            <i class="fas fa-pencil-alt fa-fw me-2"></i> Atualizar
        </a></li>
        
        <li><a class="dropdown-item" href="#"
            hx-get="{% url 'items:delete_item' item.pk %}"
            hx-target="#delete-modal-container"
            data-bs-toggle="modal"
            data-bs-target="#delete-modal">
            <i class="fas fa-trash-alt fa-fw me-2 text-danger"></i> Deletar
        </a></li>
        
        <li><hr class="dropdown-divider"></li>
        <li><h6 class="dropdown-header">Mudar Status</h6></li>
        
        {% if item.status != 'PENDING' %}
            <li><a class="dropdown-item" href="#"
                   hx-post="{% url 'items:update_status' item.pk %}"
                   hx-vals='{"status": "PENDING", "csrfmiddlewaretoken": "{{ csrf_token }}"}'
                   hx-target="#item-list-container"
                   hx-swap="innerHTML">
                <i class="fas fa-exclamation-circle fa-fw me-2 text-info"></i> Pendente
            </a></li>
        {% endif %}
        {% if item.status != 'IN_PROGRESS' %}
            <li><a class="dropdown-item" href="#"
                   hx-post="{% url 'items:update_status' item.pk %}"
                   hx-vals='{"status": "IN_PROGRESS", "csrfmiddlewaretoken": "{{ csrf_token }}"}'
                   hx-target="#item-list-container"
                   hx-swap="innerHTML">
                <i class="fas fa-spinner fa-fw me-2 text-warning"></i> Em Andamento
            </a></li>
        {% endif %}
        {% if item.status != 'DONE' %}
            <li><a class="dropdown-item" href="#"
                   hx-post="{% url 'items:update_status' item.pk %}"
                   hx-vals='{"status": "DONE", "csrfmiddlewaretoken": "{{ csrf_token }}"}'
                   hx-target="#item-list-container"
                   hx-swap="innerHTML">
                <i class="fas fa-check-circle fa-fw me-2 text-success"></i> Concluído
            </a></li>
        {% endif %}
    </ul>
</div>
