name: Lint (Ruff)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ruff-lint:
    name: Run Ruff Linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Cache Ruff
        uses: actions/cache@v3
        with:
          path: ~/.cache/ruff
          key: ${{ runner.os }}-ruff

      - name: Install Ruff only
        run: |
          pip install --upgrade pip
          pip install ruff

      - name: Run Linting (Ruff)
        run: |
          ruff check .
          ruff format --check .
