name: Lint (Ruff)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ruff-lint:
    name: Run Ruff Linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip' # Faz o cache das dependências automaticamente

      - name: Install Ruff
        run: |
          pip install ruff

      - name: Run Linting (Ruff)
        run: |
          # 'check' procura por erros de lógica (imports não usados, bugs, etc.)
          ruff check . --output-format=github
          
          # 'format --check' verifica se a formatação (espaços, aspas) está correta
          ruff format --check .
