name: Lint (Ruff)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ruff-lint:
    name: Run Ruff Linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install Ruff
        run: |
          pip install ruff==0.7.4

      - name: Run Linting (Ruff)
        run: |
          # A flag --config força o uso do seu arquivo específico
          ruff check . --config .ruff.toml --output-format=github
          
          # O format também precisa saber da config (por causa do line-length, etc)
          ruff format --check . --config .ruff.toml
